@import '../../styles/mixins';

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: center;
  gap: 1rem;

  @include laptop {
    grid-template-columns: repeat(auto-fill, 250px);
  }
}
