@import '../../styles/mixins';

.menu_rutes {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include laptop {
    margin-top: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.rutaButton {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-sm);
  cursor: pointer;
  margin: 0.5rem 0;

  strong {
    font-weight: 500;
  }

  @include laptop {
    font-size: inherit;
    margin: 0;
  }
}

.rutaButton:hover, .active {
  color: var(--color-red);
}
