@import '../../styles/mixins';

.cau {
  background-color: var(--color-green);
  padding: 10px;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
  // height: 260px;
}

.cauImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: aspect-ratio 0.2s;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  h1 {
    font-size: var(--font-size-ss);
    white-space: nowrap;
  }

  a:hover {
    color: var(--color-red);
  }
}

.location {
  font-size: 0.6rem;

  img {
    display: inline-block;
    margin-right: 6px;
    width: 10px;
    height: 10px;
  }

  a:hover {
    color: var(--color-red);
  }
}

.cauMarkdown {
  height: 0px;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
  pointer-events: none;

  p {
    font-size: 0.6rem;
    margin-top: 10px;
  }
}

.moreInfo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.6rem;
  background: none;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.show {
  .cauImage {
    aspect-ratio: 99999 / 1;
  }
  .cauMarkdown {
    height: 100px;
    opacity: 1;
  }
}

@include laptop {
  .cau {
    // height: 300px;
  }

  .title {
    h1 {
      font-size: var(--font-size-m);
    }
  }

  .location {
    font-size: 0.9rem;
    img {
        width: 16px;
        height: 16px;
      }
  }

  .moreInfo {
    font-size: 0.8rem;
  }

  .cauMarkdown {
    p {
      font-size: 0.7rem;
    }
  }
}
