@import '../styles/mixins';

.main {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
  line-height: 1.5;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 1rem;
}

@include laptop {
  .gridWrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
