@import '../styles/mixins';

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 450px), 1fr));
  gap: 1rem;
  height: 100%;
  padding: 0 1rem;
  line-height: 1.5;
}

.map {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  img {
    object-position: top;
  }
}


.text {
  height: 100%;
  overflow-y: auto;
  padding-right: 16px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 10px;
  }
}

.background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  img {
    opacity: 0.1;
    object-fit: cover;
    margin: 0;
    overflow: visible;
  }
}

.horizontal_image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;

  img {
    object-fit: cover;
  }
}
