@import '../styles/mixins';

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 450px), 1fr));
  gap: 1rem;
  height: 100%;

  padding: 1rem;

  line-height: 1.5;
}

.map {
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    height: 100%;
  }
}

.text {

  height: 100%;
  overflow-y: auto;
  padding-right: 16px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 10px;
  }

  h1 {
    font-size: var(--font-size-ll);
    letter-spacing: 0.4rem;
    margin: 0 30px;
  }

  hr {
    margin: 0 30px 15px 30px;
    height: 3px;
    border: none;
    background-color: var(--color-blue);
  }

  p {
    font-size: var(--font-size-ss);
    line-height: 1.2;
    text-align: justify;

    margin: 10px 0;
  }

  ul {
    list-style-type: disc;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
  }
}

.background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  img {
    opacity: 0.1;
    object-fit: cover;
    margin: 0;
    overflow: visible;
  }
}

.horizontal_image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;

  img {
    object-fit: cover;
  }
}

@include desktop {
  .text {
    h1 {
      font-size: var(--font-size-ll);
    }

    p {
      font-size: var(--font-size-ss);
    }
  }
}
