@import '../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

:root {
  --color-blue: #3e5680;
  --color-red: #c37171;
  --color-green: #f0f6f4;
  --color-background: #ffffff;
  --color-text: #222222;

  --font-size-2xs: 0.65rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;

  --size-gallery-grid: 100px;
  --size-gallery-grid-small: 80px;

  --time-animation-short: 0.1s;
  --time-animation-long: 0.2s;

  --header-height: 50px;

  @include laptop {
    --header-height: 80px;
  }
}

body, html {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: 'Montserrat', sans-serif;
  font-size: calc(11px + 0.390625vw);
  line-height: normal;

  max-width: 1200px;
  margin: auto;
}

body.noScroll {
  position: fixed;
  width: 100vw;

  @include laptop {
    position: inherit;
    width: inherit;
  }
}
