@import '../../styles/mixins';

.container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
  }
}

.centered {
  img {
    width: 300px;
  }
}

@include laptop {

}
