.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 100px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 88px;
}

.nav_logo {
  width: 70px;
}

.nav_logo_image {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 999px;
}

.nav_logo_link:focus-visible {
  border: none;
  outline: none;
}
.nav_logo_image:hover,
.nav_logo_link:focus-visible .nav_logo_image {
  border: none;
  outline: none;
  scale: 1.1;
  box-shadow: 2px 2px 0px 2px #c17071;
  transition: 0.1s all;
}

.burger_menu {
  display: none;
}

.languages {
  text-align: right;
}

.languages * {
  cursor: pointer;
  margin: 0 10px;
}

.languages *:hover {
  box-shadow: 2px 2px 0px 2px #ffffff;
}

@media (max-width: 800px) {
  .burger_menu {
    display: block;
  }
}
