@import '../../styles/mixins';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  margin-bottom: 0;
  color: var(--color-blue);
  z-index: 1;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.nav_logo {
  aspect-ratio: 1 / 1;
  margin-right: 30px;
  margin-top: 10px;
  position: relative;
  min-height: 50px;
}

.nav_logo:hover,
.nav_logo:active,
.nav_logo:focus-visible{
  // rotate: 10deg;
  transform: rotate(10deg);
  transition: all 0.2 ease-in-out;
}

.nav_logo_image {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 20px;
  background-color: white;
  border-radius: 999px;
}

.nav_logo_link:focus-visible {
  border: none;
  outline: none;
}
.nav_logo_image:hover,
.nav_logo_link:focus-visible .nav_logo_image {
  border: none;
  outline: none;
  // scale: 1.1;
  // transition: all 0.1 ease-in-out;
}

.burger_menu {
  display: none;
}

@include laptop {
  .header {
    // font-size: var(--font-size-ll);
  }

  .nav_logo {
    width: 70px;
    margin-top: 0;
  }
}
