@import '../../styles/mixins';

.fullWidthImage {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-radius: 2px;

  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}

.centeredImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  .centeredImage {
    position: relative;

    img {
      object-fit: cover;
    }
  }
}

.backgroundImage {
  position: fixed;
  width: 100vw;
  height: 50vh;
  top: 50vh;
  left: 0;
  z-index: -1;

  @include laptop {
    height: 100vh;
    top: 0;
  }

  img {
    object-fit: cover;
    margin: 0;
  }
}

.imageAndText {
  // background-color: lightgreen;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  // flex-direction: column;
  // gap: 10px;

  @include laptop {
    // display: grid;
    // grid-template-columns: 1fr 2fr;
    // display: flex;
    // flex-direction: column;
  }

  .imageLeft {
    position: relative;
    // min-height: 100px;
    // width: 50%;
    // height: 200px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }

  .text {
    font-size: var(--font-size-sm);
    // align-self: center;
    // width: 50%;
    position: relative;
    // left: -20px;
    // bottom: -20px;
    // right: 20px;
    padding: 1rem;
    background-color: #fceef1;
  }
}
