@import '../../styles/mixins';

.markdown {
  padding: 10px 0;

  * {
    margin: 0.5rem 0;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 0;
  }

  hr {
    margin-top: 0;
    margin-bottom: 2rem;
    height: 3px;
    border: none;
    background-color: var(--color-text);
  }

  ul {
    // list-style: none;
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  li {
    margin-left: 1rem;
  }

  a {
    color: var(--color-blue);
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      color: var(--color-red);
    }
  }

  blockquote {
    padding-left: 2rem;
    margin: 2rem 0;
    font-style: italic;

    p {
      font-size: var(--font-size-sm);
    }
  }
}
