@import '../../styles/mixins';

.markdown {
  padding: 10px 0;

  h1 {
    letter-spacing: var(--letter-spacing-lg);
    margin: 0 30px;
  }

  hr {
    margin: 0 30px 15px 30px;
    height: 3px;
    border: none;
    background-color: var(--color-text);
  }

  p {
    margin: 1rem 0;
  }

  ul {
    list-style-type: disc;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  a {
    color: var(--color-blue);
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      color: var(--color-red);
    }
  }

  blockquote {
    padding-left: 2rem;
    margin: 2rem 0;
    font-style: italic;

    p {
      font-size: var(--font-size-xs);
    }
  }
}
