@import '../../styles/mixins';

.markdown {
  h1 {
    font-size: var(--font-size-l);
    letter-spacing: 0.4rem;
    margin: 0 30px;
  }

  hr {
    margin: 0 30px 15px 30px;
    height: 3px;
    border: none;
    background-color: var(--color-blue);
  }

  p {
    font-size: var(--font-size-ss);
    line-height: 1.2;
    text-align: justify;
    margin: 10px 0;
  }

  ul {
    list-style-type: disc;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
  }
}

@include desktop {
  .markdown {
    h1 {
      font-size: var(--font-size-lll);
    }

    p {
      font-size: var(--font-size-s);
    }
  }
}
