@import '../../styles/mixins';

.main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1 1 auto;

  @include laptop {
    flex-direction: row;
  }
}

.map {
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include laptop {
    max-width: 584px;
    width: calc(calc(100vw - 32px) / 2);
  }

  img {
    object-position: top;
  }
}

.mapImage {
  height: 1px;
  flex: 1 1 auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;

  @include laptop {
    max-width: 584px;
    width: calc(calc(100vw - 32px) / 2);
  }
}

.text {
  min-height: 30vh;
  padding-right: 16px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 10px;
  }
}

@include laptop {
  .text {
    flex: 1 1 auto;
    height: 1px;
    overflow-y: auto;
  }
}
