@import '../../../styles/mixins';

.languages {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 1;
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin-bottom: 60px;

  a {
    margin: 0 4px;
    cursor: pointer;
  }
}

@include laptop {
  .languages {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-sm);
  }
}
