.NavigationMenuRoot {
  display: flex;
}

.NavigationMenuList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavigationMenuItem {
  margin-left: 20px;
}

.NavigationMenuTrigger {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: inherit;
}

.NavigationMenuItem button {
  margin: 0;
  padding: 0;
}

.NavigationMenuLink {
  display: block;
}

.NavigationMenuLink, .NavigationMenuItem button {
  padding: 4px 8px 0 8px;
}

.NavigationMenuLink:hover,
.NavigationMenuLink:focus-visible,
.NavigationMenuTrigger:hover,
.NavigationMenuTrigger:focus-visible,
.NavigationMenuLink[data-active] {
  border: none;
  outline: none;
  background-color: var(--color-text);
  color: var(--color-background);
  transform: scale(1.08) rotate(-2deg);
  transition: transform 0.2s ease-in-out;
}

.NavigationMenuContent {
  position: absolute;
  /* top: 100%; */
}

.menu_list {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 800px) {
  .NavigationMenuRoot {
    display: none;
  }
}
